.footerdivhr {
    max-width: 70%;
    margin: 0 auto;

    .footertext {
        padding-top: 50px;
        margin: 0 auto;
        font-size: 1.1rem;
        text-align: center;
        color: gray;
        margin-bottom: 30px;
    }
}